{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body p-3 shadow">
      <a href="{% url 'ToDoAPP:task' %}" >
        <legend style="color:black;padding:5px"><b>{{ task_id.task }}</b></legend></a>
      <p class="fw-lighter"><small>Priority :</small> {{ task_id.priority }}</p>
      <p class="fw-lighter">{{ task_id.date }}</p>
      <a href="{% url 'ToDoAPP:deleteview' task_id.id %}">
        <button class="btn btn-outline-danger shadow">Done</button></a>
      <a href="{% url 'ToDoAPP:updateview' task_id.id %}">
        <button class="btn btn-success shadow" style="color:white;">Update</button></a>
    </div>
  </div>
</div>

{% endblock %}