{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-top:70px">
    {% for i in task_key %}
    <div class="card">
        <div class="card-body p-3 shadow">
            <a href="{% url 'ToDoAPP:classdetailview' i.id %}" ><legend style="color:black;padding:5px"><b>{{ i.task }}</b></legend></a>
            <p class="fw-lighter">
                <small>Priority :</small> {{ i.priority }}</p>
            <p class="fw-lighter">{{ i.date }}</p>
            <a href="{% url 'ToDoAPP:deleteview' i.id %}">
                <button class="btn btn-outline-danger shadow">Done</button></a>
            <a href="{% url 'ToDoAPP:update' i.id %}">
                <button class="btn btn-success shadow" style="color:white;">Update</button>
            </a>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}