{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div style="padding:10px">
    <div class="card">
      <div class="card-head">
        <div class="card-title">
          <legend style="text-shadow:2px 2px 2px lightgrey;margin-left:10px">Update Task</legend>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning shadow"  type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}